@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
}

#corpo-index {
    background-image: url('../images/fundo-madeira.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#container-frame {
    position: relative;
    width: 270px;
    bottom: 550px;
    left: 20px;
}

#conteudo-frame {
    position: absolute;
    width: 155%;
    max-height: 478px;
}

.exibir-imagem-pagina {
    width: 67%;
}

#celular-conteudo > img {
    display: block;
}

iframe {
    display: block;
}

#celular {
    position: relative;
    height: 500px;
}

#celular-conteudo {
    position: absolute;
    left: 50%;
    top: 75%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#botoes-container {
    position: relative;
    width: 55px;
    height: 450px;
    float: right;
    bottom: 500px;
}

#botoes-container > a > img {
    width: 100%;
    border-radius: 50%;
    padding-top: 15px;
}

.acessar-rede {
    text-transform: uppercase;
    text-align: center;
    padding-top: 20px;
    color: white;
    text-decoration: none;
    font-weight: bolder;
    width: 269px;
    height: 40px;
    background: #8B0000;
}

a:

a:visited {
    text-decoration: none;
}