@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
}

#corpo-index {
    background: #928268 url('../images/fundo-madeira.jpg') no-repeat center center fixed;
    background-size: cover;
}

#celular-container {
    position: relative;
    height: 500px;
}

#celular-conteudo {
    position: absolute;
    width: auto;
    left: 50%;
    top: 75%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}

#frame-container {
    position: relative;
    width: 271px;
    bottom: 550px;
    left: 20px;
}

#frame-conteudo {
    display: block;
    position: absolute;
    width: 155%;
    max-height: 478px;
}

#botoes-redes-container {
    position: relative;
    margin-top: 10px;
}

#botoes-redes-conteudo {
    position: relative;
    width: 55px;
    height: 230px;
    float: right;
    top: -500px;
    margin-right: 10px;
}

a > img {
    width: 100%;
    margin-bottom: 20px;
    border-radius: 50%;
}

a > img:hover {
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.5);
    border: 1px solid #EBFA89;
    transition: 1.5s;
}

.imagem-rede {
    width: 56vh;
    display: block;
}

.botao-acessar-rede {
    text-transform: uppercase;
    text-align: center;
    padding-top: 23px;
    font: normal normal bold 18px Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    width: 268px;
    height: 40px;
    background: #8B0000;
}

.botao-acessar-rede:hover {
    background: #FF0000;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}
