@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
}

#corpo_index {
    background-image: url('../images/fundo-madeira.jpg');
}

#container-frame {
    position: relative;
}

#conteudo-frame {
    position: absolute;
    bottom: 500px;
}

img {
    display: block;
}

iframe {
    display: block;
}